/* COMMON */
._size_text_20{
  font-size: 20px;
}
._mb_20{
  margin-bottom: 20px;
}
.white-text{
  color: #fff;
}
._pad_50{
  padding: 50px 0;
}
._fw_600{
  font-weight: 600;
}
._wrapper_60{
  width: 60%;
  max-width: 900px;
  margin: auto;
}
h1{
  font-size: 3.7em;
}
/* HEADER */
._header_top{
  background-color: #2c3e50;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
._header_top ul{
  list-style: none;
}
._header_top ul li{
  display: inline;
  padding: 0 10px;
}
._header_top ul li a, ._btn_blu a{
  color: #fff;
  text-decoration: none;
}
._btn_blu{
  background-color: #2c3e50;
  border: 1px solid #fff;
}
._header_bot{
  margin-top: 80px;
}

._bg_green{
  background-color: #1abc9c;
}
._logo{
  height: 200px;
}
._line_text::before{
  content: '';
  display: inline-block;
  width: 20%;
  max-width: 150px;
  margin-right: 2%;
  margin-bottom: 6px;
  border: 2px solid;
}
._line_text::after{
  content: '';
  display: inline-block;
  width: 20%;
  max-width: 150px;
  margin-left: 2%;
  margin-bottom: 6px;
  border: 2px solid;
}

._box{
  width: 100%;
  margin-bottom: 15px;
}

._box img{
  width: 100%;
  border-radius: 15px;
}

#contact .box-mess{
  min-height: 300px;
}
._footer_top{
  background-color: #3a546d;
  
}
._footer_bot{
  background-color: #2c3e50;
}